*.pyc
__pycache__
myenv/
db.sqlite3
.DS_Store
.CFUserTextEncoding
.Trash/
.adobe/
.atom/
.bash_history
.bash_profile
.bash_profile.pysave
.cache/
.config/
.cups/
.gitconfig
.idlerc/
.python_history
Applications/
Desktop/
Documents/
Downloads-1.(null)
Downloads-2.(null)
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Trovi/
db.sqlite3
myenv/

